body {
    margin: 0;
    color:#000;
    background:#badaff;
}

div.qbox {
    height:100px;
    padding: 0px;
    text-align:center;
    vertical-align: middle;
    line-height: 28px;
    border:1px solid #000;
    background-color:#effeee;
}

span.ib {
	position: relative;
    display: inline-block;
    width: 73px;
    height: 73px;
    padding: 0px;
    text-align: center;
    border: 1px solid blue;    
    background-color: #ffffda; 
}	
span.ibgreyout {
    pointer-events: none;
    background-color: #7e7e7a;
}

.helpbutton {
    border-radius: 35px;
    background-color: blue; 
    border: none; 
    color: white; 
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.timer {
  background-color: pink; 
  border: 1px solid blue;
  height: 24px;
  color: black; 
  margin-right: 3px;
  padding-right: 3px;
  padding-left: 3px;
    float: right;
  font-family: monospace, monospace;
  font-size: 13px;
    font-weight: bold;
  text-align: center;
  vertical-align: middle;
	line-height: 24px;
  }
  
