span.coin {
	position: relative;
	display: inline-block;
	width: 73px;
	height: 73px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 72px;
	background-image: url('coin.png');	
	background-size: contain;	
	z-index: 1;
	pointer-events: auto;
}

@media only screen and (max-width: 319px) {
    span.coin {
        width: 64px;
		height: 64px;
		line-height: 60px;
    }
}

@media only screen and (min-width: 640px) {
    span.coin {
        width: 140px;
		height: 140px;
		margin: 6px;
    }
}

span.coingreyout {
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("coin.png");
}

span.imgb {
			display: inline-block;
			width: 50px;
			height: 50px;
			padding: 0px;
			vertical-align: middle;
			line-height: 50px;
}

div.allbuffs{
	height:21px;
}

span.buff {
	display: inline-block;
	/*width:36px;*/
	height:14px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px;
	padding-right: 4px;
	color:rgb(0,150,0);
	font-size: 14px;
	line-height: 14px;
	vertical-align: middle;
	text-align: center;
}

@media only screen and (min-width: 640px) {
	div.allbuffs{
		height:42px;
	}
    span.buff {
		height:20px;
		padding-right: 8px;
		font-size: 20px;
		line-height: 20px;
	}
}

div.allplayers{
	height:55px;
}

span.card {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 50px;
	padding: 0px;
	background-color: #ffffda; 
	vertical-align: middle;
	line-height: 50px;
	border: 1px solid blue;
}
span.prog {
	display: inline-block;
	width: 38px;
	height: 50px;
	padding: 0px;
	vertical-align: middle;
	line-height: 50px;
}

div.smallface {			
	width:32px;
	height:32px;
	margin-left:auto;
	margin-right:auto;
	background-image: url('p0.jpg');	
	background-size: cover;
}
div.smallqnum {			
	width:36px;
	height:16px;
	margin-left:auto;
	margin-right:auto;
	font-size: 16px;
	line-height: 14px;
	vertical-align: middle;
	text-align: center;
}
div.smallstep {
	width:10px;
	height:2px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #000 ;
}
div.smallmarker {
	width:20px;
	height:3px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #000;
}

@media only screen and (min-width: 640px) {
	div.allplayers{
		height:110px;
	}
	span.card {
		width: 80px;
		height: 100px;
		line-height: 100px;
	}	
	span.prog {
		width: 76px;
		height: 100px;
		line-height: 100px;
	}

	div.smallface {			
		width:64px;
		height:64px;
	}
	div.smallqnum {			
		width:72px;
		height:32px;
		font-size: 32px;
		line-height: 28px;
	}
	div.smallstep {
		width:20px;
		height:4px;
	}
	div.smallmarker {
		width:40px;
		height:6px;
	}
}

span.hiddeninit {
	display: none;
}

div.abs {
	position: absolute;
	top: 50px;
	right: 0;
	width: 50px;
	height: 50px;
	background-size: contain;
}

div.absanim {
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	background-size: contain;
	/*transition: width 1s height 1s linear;*/
	animation: scale 0.7s infinite linear;
}

@media only screen and (min-width: 640px) {
	div.abs {
		width: 100px;
		height: 100px;
	}
	
	div.absanim {
		width: 100px;
		height: 100px;
	}
}

@keyframes scale {
	from {
		transform: scale(0.5,0.5);
	}
	to {
		transform: scale(1,1);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

div.tick {
	background-image: url('tick.png');	
}

div.cross {
	background-image: url('cross.png');	
}

div.heart {
	background-image: url('heart.png');	
}

div.spark {
	background-image: url('spark.png');	
}

div.sleep {
	background-image: url('sleep.png');	
}

span.star {
	display: inline-block;
	vertical-align: text-bottom;
	width: 21px;
	height: 21px;
	border:1px solid #000;
	background-image: url('star.png');
	background-size: cover;	
}

span.npc {
	display: inline-block;
	vertical-align: text-bottom;
	width: 60px;
	height: 70px;
	position: absolute;
  	clip: rect(20px,40px,60px,0px);
	background-size: contain;
	background-repeat: no-repeat;
}

span.shortmsg {
	display: inline-block;
	width: 190px;
	min-height: 80px;
}

img.hiddeninit {
	width: 64px;
	height: 64px;
}

canvas {
	display: block;
	border: 1px solid rgb(1, 75, 1);
	background-color: black;
}

table, td, th {
	border: 1px solid rgb(1, 75, 1);
  }
  
  table {
	border-collapse: collapse;
	width: 100%;
  }
  
  th, caption {
	text-align: left;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 110px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
    background-color: #fefefe;
    margin: auto;
    padding: 16px;
    border: 1px solid #888;
	width: 80%;
	height: 50%;
	overflow: auto;
}


/* The Close Button */
.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}