span.coin {
	position: relative;
	display: inline-block;
	width: 73px;
	height: 73px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 72px;
	background-image: url('coin.png');	
	background-size: contain;	
	z-index: 1;
	pointer-events: auto;
}

span.coingreyout {
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("coin.png");
}

span.imgb {
			display: inline-block;
			width: 50px;
			height: 50px;
			padding: 0px;
			vertical-align: middle;
			line-height: 50px;
		}

span.card {
	display: inline-block;
	width: 40px;
	height: 50px;
	padding: 0px;
	background-color: #ffffda; 
	vertical-align: middle;
	line-height: 50px;
}

span.prog {
	display: inline-block;
	width: 40px;
	height: 50px;
	padding: 0px;
	vertical-align: middle;
	line-height: 50px;
}

div.smallface {			
	width:32px;
	height:32px;
	margin-left:auto;
	margin-right:auto;
	background-image: url('p0.jpg');	
	background-size: cover;
}
div.smallqnum {			
	width:36px;
	height:16px;
	margin-left:auto;
	margin-right:auto;
	font-size: 16px;
	line-height: 14px;
	vertical-align: middle;
	text-align: center;
}
div.smallstep {
	width:10px;
	height:2px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #000 ;

}
div.smallmarker {
	width:20px;
	height:3px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #000;
}

span.hiddeninit {
	display: none;
}

div.abs {
	position: absolute;
	top: 50px;
	right: 0;
	width: 50px;
	height: 50px;
	background-size: contain;
}

div.tick {
	background-image: url('tick.png');	
}

div.cross {
	background-image: url('cross.png');	
}

img.hiddeninit {
	width: 10px;
	height: 10px;
}

canvas {
	display: block;
	border: 2px solid lime;
	background-color: black;
}
